<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ativos da B3</title>
    <script src = "../js/FindAsset.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Ativo da B3</h1>
    </header>
    <section>
        <input type="text" name="assetcode" id ="assetcode">
        <input type="submit" id ="findassetbtn" value="Buscar Ativo"> 
        <label id="showassetcode"></label>
        <label id="assetclosedprice"></label>  
    </section>
    <div>
    </div>
</body>
</html>